<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ezapp.hongstone">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iclogo"
        android:label="EZ"
        android:roundIcon="@mipmap/iclogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCb7pABQWtoHbqrdR8vgvHfoLopvWug2HE"/>

        <activity android:name="com.ezapp.hongstone.MainActivity" />
        <activity android:name="com.ezapp.hongstone.Bt1Activity" />
        <activity android:name="com.ezapp.hongstone.Bt2Activity" />
        <activity android:name="com.ezapp.hongstone.Bt3Activity" />
        <activity android:name="com.ezapp.hongstone.Bt4Activity" />
        <activity android:name="com.ezapp.hongstone.Bt5Activity" />
        <activity android:name="com.ezapp.hongstone.Bt6Activity" />
        <activity android:name="com.ezapp.hongstone.Bt7Activity" />
        <activity android:name="com.ezapp.hongstone.VersionActivity" />
        <activity android:name="com.ezapp.hongstone.OneActivity" />
        <activity android:name="com.ezapp.hongstone.TwoActivity" />
        <activity android:name="com.ezapp.hongstone.GongJi" />
        <activity android:name="com.ezapp.hongstone.Gong1" />
        <activity
            android:name="com.ezapp.hongstone.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>

    </application>

</manifest>
